@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
   background: #ffffff;
   font-size: 16px;
}
:root{
    display: flex;
    justify-content: center;
    --corText: #575757;
}

header, section{
    width: 100%;
    height: auto;
    
}
section .btns{
    width: 100%;
    height: auto;
    margin: 10px;
    display: flex;
    justify-content: center;
}
section .btns .btn{
    display: block;
    width: 400px;
    height: 60px;
    margin: 0 auto;
    background-color: #00E60B;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    outline: none; 
    border: none;   
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 4px rgb(0 0 0 / 25%); 
    box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
}
.center{
    width: 1200px;
    height: auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    
}
.box{
    width: 290px;
    height: 100px;
    border: 1px solid rgb(241, 241, 241);
    background: #FFF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    -webkit-box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25); 
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--corText);
    
}
.box .img{
    width: 35%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 5px;
}
.box .img img{
    width: 100%;
}
.box .text-input{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;    
    
    
}
.box .text-input .input{
    display: flex;
    align-items: center;
    border: 2.5px solid var(--corText);
    width: 90%;
    color: var(--corText);
    background: #FFF;
    margin-top: 5px;
    z-index: 10;
    
}
.box .text-input .input span{
    background: #FFF;
}
.box .text-input .pcampo{
    font-size: 1rem;
    color: red;
    font-weight: 500;
    position: relative;
    top:1px;
    z-index: 0;
}
.box .text-input input{
    border: none;
    width: 100%;
    height: 28px;
    outline: none;
    font-size: 1.1rem;
    text-align: right;
}
.box .text-input #RM, .box .text-input #prazo{
    text-align: center;
}

.blueBox{
    /* margin: 50px; */
    width: 280px;
    height: 90px;
    background-color: #2E42FF;
    font-size: 1.2rem;
    text-align: center;
    color: #ffff;
    font-weight: 500;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.blueBox p{
    align-self: baseline;
    margin-left:50px ;
    margin-bottom: -20px;
   
    
}
.blueBox .blueBoxSon{
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}
.blueBox .blueBoxSon div{
    font-size: 1.5rem;
}
.blueBox .blueBoxSon span{
    align-self: flex-end;
}
.tabela{
    width: 100%;
    font-size: 1.2rem;
}
.tabela .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.tabela .menu .tabVal, .tabela .menu .tabGraf{
    background: #FFF;
    width: 50%;
    height: 35px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    color: rgb(0, 0, 0);
} 
.tabela .menu .tabVal{
    border: 3px solid #2E42FF;
    margin-right: 5px;
    
}
.tabela .menu .tabGraf{
    border: 3px solid #2E42FF;
    margin-left: 5px;
}
.tabela .menu .tabGraf.blue, .tabela .menu .tabVal.blue{
    background-color: #2E42FF;
    color: #ffff;
}
.tabela-header{
    display: flex;
    justify-content: center;
    /* border: 1px solid rgb(230, 0, 0); */

   
}
.tabela-header div div{
    padding: 5px 15px;
    border-bottom: 1px solid #a3a3a3;
    text-align: center;
    font-size: 1rem;
    color: #a3a3a3;
}
.tabela-header div:nth-child(n) :nth-child(1){
    font-size: 1.2rem;
    color: #575757;

}




